<!DOCTYPE html>
<html>
<head>
  <title>Fleetservice</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag '/scripts/jquery-1.4.2.js' %>
  <%= javascript_include_tag '/scripts/jquery.curvycorners.source.js' %>
  <%= csrf_meta_tag %>
  
  <link type="text/css" href="/stylesheets/style.css" rel="stylesheet">

  <script type="text/javascript" src="/script/jquery-1.4.2.js"></script>
  <script type="text/javascript" src="/script/jquery.curvycorners.source.js"></script>

  <script type="text/javascript">

$(document).ready(function () {

    //fadein/out
    //Append a div with hover class to all the LI
	$('#navMenu li').append('<div class="hover"><\/div>');


	$('#navMenu li').hover(

		//Mouseover, fadeIn the hidden hover class
		function() {

			$(this).children('div').fadeIn('1000');

		},

		//Mouseout, fadeOut the hover class
		function() {

			$(this).children('div').fadeOut('1000');

	}).click (function () {

		//Add selected class if user clicked on it
		$(this).addClass('selected');

	});
    
    //fadein/out

////////////////////////rounded rectangle///////////////////////////////
$(function(){

  settings = {
          tl: { radius: 15 },
          tr: { radius: 15 },
          bl: { radius: 15 },
          br: { radius: 15 },
          antiAlias: true,
          autoPad: true,
          validTags: ["div"]
      }

  $('.myBox').corner(settings);
  $('.myBox2').corner(settings);
  $('.myBox3').corner(settings);
  $('.myBox4').corner(settings);
  $('.myBox5').corner(settings);
  $('.myBox6').corner(settings);
  $('.myBox7').corner(settings);
  $('.myBox8').corner(settings);
  $('.myBox9').corner(settings);
  $('.myBox10').corner(settings);
  $('.myBox11').corner(settings);
  $('.myBox12').corner(settings);
  $('.myBox13').corner(settings);
  });;
////////////////////////rounded rectangle////////////////////////////////

});



</script>
</head>
<body>
  <table align="center" border="1px" width="750px" height="100%" cellpadding="3px" bordercolor="#e7e7e7">

<tr>
  <td>
    <div align="center">
    <div class="myBox">
      <img src="/images/fleetservice.jpg"/>
    </div>
    </div>
  </td>
</tr>
<tr>
  <td align="center">
    <div>
    <div class="myBox2">
        <table cellpadding="0px" cellspacing="0px" width="720px" border="0px" align="center">
          <tr >
            <td>
            <div id="tar">
              <img src="/images/left.png"/>
            </div>
            </td>
            <td width="400px">
                  <ul id="navMenu">

                        <li><%= link_to image_tag("/images/metiers.png"), "/home/index" %></li>
                        <li><%= link_to image_tag("/images/offres.png"), "/offre/index" %></li>
                        <li><%= link_to image_tag("/images/contacts.png"), "#" %></li>
                        <li><%= link_to image_tag("/images/acces.png"), "http://www.0-one.net", :target => '_blank' %></li>

                  </ul>
            </td>
            <td>
            <div id="tal">
              <img src="/images/right.png"/>
            </div>
            </td>
          </tr>
        </table>
    </div>
    </div>
 </td>
</tr>
<tr>
  <td>
    <div id="stable">

      <%= yield %>

    </div>
  </td>
</tr>
<tr>
  <td>
    <hr align="center" width="80%" color="#e7e7e7" size="2">
  </td>
</tr>
<tr>
  <td width="736px" height="44px" align="center">
    <img src="/images/footer.png"/>
  </td>
</tr>

</table>

</body>
</html>
